<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Site Title-->
    <title th:text="${wbeParameter.name}"></title>
    <meta name="format-detection" content="telephone=no">
    <meta charset="utf-8">
    <script src="/resource/js/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="stylesheet" type="text/css" href="/resource/css/css.css">
    <link rel="stylesheet" href="/resource/css/bootstrap.css">
    <link rel="stylesheet" href="/resource/css/style(1).css">
</head>

<script src="../../static/resource/js/jquery.min.js"></script>
<body>
<!-- Page-->
<div class="text-left page">
    <header th:replace="proscenium/public :: head"></header>
    <!-- Breadcrumbs Section-->
    <section class="section breadcrumb-wrapper bg-image" style="background-image: url(&quot;/resource/img/breadcrumbs-bg.jpg&quot;);">
        <div class="container">
            <h1>公告</h1>
        </div>
    </section>
    <div class="container" style="height: 600px">
        <div style="display: none">
            <input id="w" th:value="${pageUtil.total}"></input>
            <input id="e" th:value="${pageUtil.pages}"></input>
            <input id="r" th:value="${pageUtil.size}"></input>
        </div>
        <div class="rowToRow" th:each="word:${wordList}">
            <div class="rowDiv">
                <div style="height: 200px; padding: 20px;">
                    <span class="span3" th:text="${word.content}"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="test1" style="height: 50px;    width: 500px;    margin-right: 50px;    float: right;    padding-top: 0px;"></div>
</div>
<div class="snackbars" id="form-output-global"></div>
</body>
<script type="text/javascript" src="/resource/js/core.min.js"></script>
<script type="text/javascript" src="/resource/js/script(1).js"></script>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;
        let w = $("#w").val()
        let e = $("#e").val()
        let r = $("#r").val()
        //执行一个laypage实例
        laypage.render({
            elem: 'test1',
            limit:r,
            curr: e,
            count: w,
            jump: function(obj, first){
                //obj包含了当前分页的所有参数，比如：
                // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                // console.log(obj.limit); //得到每页显示的条数
                // console.log(obj);
                // debugger
                //首次不执行
                if(!first){
                    $("#e").val(obj.curr)
                    $("#r").val(obj.limit)
                    location.href="http://127.0.0.1:8081/contestNotice?curr=" + obj.curr+"&size=" + obj.limit
                }
            }
        });
    });
</script>


</html>
