<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/resource/common/layui/css/layui.css" media="all"/>
</head>
<body>
<div class="layui-form" style="padding: 40px">
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称:</label>
        <div class="layui-input-block">
            <input type="text" name="produceName" th:value="${word.produceName}" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品描述:</label>
        <div class="layui-input-block">
            <input type="text" name="produceDiscribe" th:value="${word.produceDiscribe}" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
   
    <div class="layui-form-item">
        <label class="layui-form-label">产品图片:</label>
        <div class="layui-input-block">
            <div class="layui-upload-drag" id="upImg">
                <i class="layui-icon">&#xe650;</i>
                <p>建议尺寸168*168，支持jpg、png、gif</p>
                <div class="" id="producePictureId2">
                    <hr>
                    <img th:src="'/resource'+${word.producePictureId}" alt="上传成功后渲染" style="max-width: 196px">
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品价格:</label>
        <div class="layui-input-block">
            <input type="text" name="produceAvgPrice" th:value="${word.produceAvgPrice}" lay-verify="required" autocomplete="off"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属农场:</label>
        <div class="layui-input-block">
            <input type="hidden" id="farmId2" name="farmId2" th:value="${word.farmId}" >
            <select name="farmId" id="farmId" lay-verify="required" >
                <option></option>
                <option th:each="user:${word2}" th:value="${user.farmId}" th:text="${user.farmName}"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" style="position: fixed;bottom: 0px;right: 10px">
        <div class="layui-input-block">
            <input id="producePictureId" name="producePictureId" th:value="${word.producePictureId}" hidden=""/>
            <input id="id" name="produceId" th:value="${word.produceId}" hidden=""/>
            <button class="layui-btn layui-btn-normal " lay-submit="" lay-filter="Submit">保存内容</button>
            <button type="" class="layui-btn layui-btn-primary  close">取消</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resource/common/layui/layui.js"></script>
<script type="text/javascript">
    // let form = layui.form;
    // $ = layui.$;


    layui.use(['table', 'layer', 'layedit', 'upload', 'form'], function () {


        var table = layui.table,
            $ = layui.$,
            layer = layui.layer,
            layedit = layui.layedit,
            upload = layui.upload,
            form = layui.form;
        var value =  $("#farmId2").val();
        $('#farmId').find("option[value="+value+"]").attr("selected",true);
        form.render('select') //再次渲染
        //拖拽上传
        upload.render({
            elem: '#upImg'
            , url: '/upload.do'
            , done: function (res) {
                layer.msg('上传成功');
                console.log(res)
                layui.$('#producePictureId2').removeClass('layui-hide').find('img').attr('src', res.obje);
                $("#producePictureId").val(res.obje);
            }
        });
        $('.close').on('click', function () {
            parent.layer.close(parent.layer.getFrameIndex(window.name));
        })
        form.on('submit(Submit)', function (data) {
            let checkText=$("#farmId").find("option:selected").text();
            data.field.farmName = checkText;
            $.ajax({
                url: '/farmProduces/editFarmProduces.do',
                type: 'put',
                data: data.field,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        parent.layer.msg("编辑成功!", {time: 1000});
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.layui.table.reload('user-table', {});
                    }
                }
            });
        });
    });
</script>
</body>
</html>
