<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.WordMapper">
	<select id="getList" resultType="com.it.entity.Word">
		select * from gm_word
	</select>

	<select id="getList2" resultType="com.it.entity.Word">
		SELECT w.id, w.word,w.worddesc,w.example,w.createdate, m.id as mid FROM gm_word w
			left join gm_word_my m on w.id = m.wordid
		ORDER BY w.createdate
			LIMIT #{start},#{size};
	</select>

	<select id="getList3" resultType="com.it.entity.Word">
		SELECT w.id, w.word,w.worddesc,w.example,w.createdate, m.id as mid FROM gm_word w
			left join gm_word_my m on w.id = m.wordid
		where m.userid = #{userid}
		ORDER BY w.createdate
	</select>


	<select id="getList4" resultType="com.it.entity.Word">
		SELECT w.id, w.word,w.worddesc,w.example,w.createdate, m.id as mid FROM gm_word w
			left join gm_word_my m on w.id = m.wordid
		where m.userid = #{userid}
		ORDER BY w.createdate
			LIMIT #{start},#{size};
	</select>

</mapper>